#container {
  width: 80%;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
  align-content: center;
}

/* navbar styles */

.nav {
  color: white;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}

.white {
  color: black;
  padding-right: 2px;
  font-weight: bolder;
  font-size: 1.1em;
}

.navbar {
  border-top: solid black 2px;
  background-color: #8C160B;
}

/* header image and overlay */

.hero-container {
  position: relative;
  text-align: center;
  color: black;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.hero {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 20%;
  width: 100%;
  background-color: white;
  opacity: 70%;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.hero-hed {
  font-family: 'Bebas Neue', serif;
  font-size: 9em;
  margin: 0 auto;
  color: black;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 25px;
}

/* headline section */

.headline-section {
  background-color: #8C160B;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

#headline {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}

#byline {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-bottom: 10px;
}

/* text content */

p{
  font-size: 1.25em;
  font-family: Georgia, serif;
}

.red {
  color: #8C160B;
}

.chapter-headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #8C160B;
  text-transform: uppercase;
  font-size: 1.75em;
}

.quote {
  font-family: 'Montserrat', sans-serif;
  color: #8C160B;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 2.5em;
}

.quote-attribution {
  color: black;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.45em;
  text-align: right;
  padding-bottom: 10px;
}

/* image styles */
img {
  width: 100%;
}

figure {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 25px;
    padding-bottom: 25px;
}

figcaption {
  color: gray;
}



/* footer */

.footer {
  background-color: #8C160B;
}

.container {
  padding-top: 25px;
}

/* media queries */
@media(max-width:850px) {


.hero-hed {
  font-size: 3em;
}

.hero-sub {
  font-size: 1em;
}


}
