#content {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.Masthead {
  width: 100%;
  max-width: 900px;
  padding-bottom: 10px;
}

#headline {
  font-size: 25px;
  text-align: center;
  color: #5C1F88;
  font-weight: bold;
  border-bottom: solid 2px;
  border-top: solid 2px;
}

h1{
  font-family: Helvetica, sans-serif;
  font-size: 25px;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

.story-images {
  width: 100%;
  max-width: 900px;
}

.caption {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  color: grey;
}

.source {
  font-style: italic;
}

.chatter {
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  border-top: solid 1px;
  padding: 5px;
}

.graphic-headline {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

blockquote {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.links {
  padding: 5px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.read-more {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
}

li {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  padding: 1px;
}
