/* hero styles */

video#bgvideo {
  position: relative;
  top: 75%;
  left: 50%;
  width: 100%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(0%);
  -moz-transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  background: url(hoopdancerstill.png) no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 30%;
  width: 100%;
  background-color: black;
  opacity: 65%;
  border: solid black 2px;
  text-align: center;
}

.hero-hed {
  font-family: 'Bebas Neue', serif;
  font-size: 9em;
  color: #F2E6CE !important;
  margin: 0 auto;
  color: black;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 25px;
  color: #F2E6CE !important;
}


/* navbar styles */

.nav {
  color: white;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}

.white {
  color: black;
  padding-right: 2px;
  font-weight: bolder;
  font-size: 1.1em;
}

.navbar {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  background-color: #36593E;
}

/* body styles */

body {
  background-color: black;
}

p {
  color: white;
  font-family: Georgia, serif;
  font-size: 1.35em;
}

.story-content {
  width: 70%;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
  align-content: center;
}

.graphics {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

/* headline and byline */
.headbyline {
  width: 80%;
  margin: 0 auto;
  border-top: solid black 1px;
  border-bottom: solid black 1px;

}

#headline {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 3px;
}

#byline {
  text-align: center;
  text-transform: capitalize;
  color: white;
}

#chapter-headline {
  font-weight: bold;
  padding-bottom: 10px;
  color: #736626;
}

.pullquote{
  color: #A61723;
}
img {
  width: 100%;
}

figure {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 25px;
    padding-bottom: 25px;
}

figcaption {
  color: gray;
}

.container {
  padding-top: 25px;
}

/* media queries */
@media(max-width:1150px) {


.hero-hed {
  font-size: 3em;
}

.hero-sub {
  font-size: 1em;
}

#headline {
  font-size: 1em;
}

.overlay {
  top: 20%;
}

}
