
video#bgvideo {
position: relative;
top: 75%;
left: 50%;
width: 100%;
z-index: -100;
-ms-transform: translateX(-50%) translateY(0%);
-moz-transform: translateX(-50%) translateY(0%);
-webkit-transform: translateX(-50%) translateY(0%);
transform: translateX(-50%) translateY(0%);
background: url(placeholder.jpg) no-repeat;
background-size: cover;
}

.overlay {
  position: absolute;
  top: 20%;
  width: 100%;
  background-color: white;
  opacity: 70%;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.hero-hed {
  font-family: 'Bebas Neue', serif;
  font-size: 9em;
  margin: 0 auto;
  color: black;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 25px;
}

#container {
  width: 80%;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
  align-content: center;
}

#headline {
  text-align: center;
}

#byline {
  text-align: center;
  text-transform: capitalize;
}

#chapter-headline {
  font-weight: bold;
  padding-bottom: 10px;
}

img {
  width: 100%;
}

figure {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 25px;
    padding-bottom: 25px;
}

figcaption {
  color: gray;
}

.container {
  padding-top: 25px;
}
