/* hero styles */

video#bgvideo {
  position: relative;
  top: 75%;
  left: 50%;
  width: 100%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(0%);
  -moz-transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  background: url(hoopdancerstill.png) no-repeat;
  background-size: cover;
  border-bottom: solid 5px #53735B;
}

.overlay {
  position: absolute;
  top: 30%;
  width: 100%;
  background-color: black;
  opacity: 65%;
  border: solid black 2px;
  text-align: center;
}

.hero-hed {
  font-family: "Bebas Neue", serif;
  text-transform: uppercase;
  font-size: 9em;
  color: #F2E6CE !important;
  margin: 0 auto;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 25px;
  color: #F2E6CE !important;
}


/* navbar styles */
.nav {
  color: white;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}

.white {
  color: black;
  padding-right: 2px;
  font-weight: bolder;
  font-size: 1.1em;
}

.navbar {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  background-color: #53735B;
}

/* body styles */
body {
  background-color: black;
}

p {
  color: white;
  font-family: Georgia, serif;
  font-size: 1.35em;
  padding-top: 15px;
}

.lightgreen {
  color: #CEF2D7;
}

.story-content {
  width: 60%;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
  align-content: center;
}

.graphics {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.story-sources {
  text-align: right;
  font-family: Georgia, serif;
  font-style: italic;
  padding-top: 30px;
  color: white;
  padding-left: 20%;
}

/* pullquote styles */
.quote {
  font-family: 'Montserrat', sans-serif;
  color: #80A689;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 2.5em;
}

.quote-attribution {
  color: #CEF2D7;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.45em;
  text-align: right;
  padding-bottom: 10px;
}

/* headline and byline */
.headbyline {
  width: 90%;
  margin: 0 auto;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding-top: 20px;

}

#headline {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  font-size: 2em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

#byline {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#chapter-headline {
  font-weight: bold;
  padding-bottom: 10px;
  color: #736626;
}

/* definition box */
.definitionbox {
  width: 70%;
  background-color: white;
  color: #36593E;
  border: solid 2px #80A689;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Georgia, serif;
  text-align: left;
}

.bold {
  font-weight: bolder;
  font-size: 1.75em;
  text-decoration: underline;
}

.pronunciation {
  font-style: italic;
  font-size: 1.5em;
}

.definition {
  font-size: 1.5em;
}

/*image styles */
img {
  width: 100%;
}

figure {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

figcaption {
  color: #E1E1E1;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.figsource {
  font-style: italic;
}

/* link styles */
a:link {
    color: #36593E;
}
a:visited {
    color: #80A689;
}
a:hover {
    color: #CEF2D7;
}

/* footer */
.footer {
  background-color: #53735B;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.container {
  padding-top: 25px;
}

/* media queries */
@media(max-width:1150px) {


.hero-hed {
  font-size: 3em;
}

.hero-sub {
  font-size: 1em;
}

#headline {
  font-size: 1em;
}

.overlay {
  top: 20%;
}

}
